In [1]:
import numpy as np
import pandas as pd
#missing data

In [3]:
data = {
    'A': [1, 2, np.nan, 4, 5],
    'B': [1, 2, 3, 4, 5],
    'C': [1, 2, 3, np.nan, np.nan],
    'D': [1, np.nan, np.nan, np.nan, 5]
}
df=pd.DataFrame(data)
df

     A  B    C    D
0  1.0  1  1.0  1.0
1  2.0  2  2.0  NaN
2  NaN  3  3.0  NaN
3  4.0  4  NaN  NaN
4  5.0  5  NaN  5.0

In [4]:
#finding missing data- based on columns
df.isna()

       A      B      C      D
0  False  False  False  False
1  False  False  False   True
2   True  False  False   True
3  False  False   True   True
4  False  False   True  False

In [6]:
df.isna().sum()#how many missing data in each column

A    1
B    0
C    2
D    3
dtype: int64

In [7]:
df.isna().any()#checks whether any column has no missing data or no

A     True
B    False
C     True
D     True
dtype: bool

In [8]:
#removing missing data- works on basis of rows
df.dropna()

     A  B    C    D
0  1.0  1  1.0  1.0

In [10]:
df.dropna(thresh=3)#returns rows having at least three non null values

     A  B    C    D
0  1.0  1  1.0  1.0
1  2.0  2  2.0  NaN
4  5.0  5  NaN  5.0

In [11]:
#filling missing data- works on the basis of columns
df.fillna(0)

     A  B    C    D
0  1.0  1  1.0  1.0
1  2.0  2  2.0  0.0
2  0.0  3  3.0  0.0
3  4.0  4  0.0  0.0
4  5.0  5  0.0  5.0

In [12]:
values={'A':1,'B':2,'C':3,'D':4}
df.fillna(value=values)

     A  B    C    D
0  1.0  1  1.0  1.0
1  2.0  2  2.0  4.0
2  1.0  3  3.0  4.0
3  4.0  4  3.0  4.0
4  5.0  5  3.0  5.0